# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# cloud-init iso
*.iso

# SSH, 인증 정보, 인벤토리
*.pem
*.key
*.crt
*.enc
secrets/
ansible/inventories/
ansible/inventory.ini

# Python
__pycache__/
*.pyc
*.pyo

# Docker
*.log
*.env
.env.*

# IDE 설정
.vscode/
.settings/

# 기타
*.swp
*.tmp
*.bak
