# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# cloud-init iso (혹시 사용하는 경우)
*.iso

# SSH & 인증서 / 민감정보
*.pem
*.key
*.crt
*.enc
secrets/
ansible/inventories/
ansible/inventory.ini

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Docker
*.log
*.env
.env.*

# VSCode (개인 설정)
.vscode/
.settings/

# Kubernetes
k8s/tmp/
*.kubeconfig

# 기타
*.swp
*.bak
*.tmp
